# Binaries
bin/*.exe
bin/*.dll
bin/boot*.*
bin/memdisk*.*
bin/hdd*.*
bin/imgui*
bin/qemu*
bin/sflash*.*
bin/ubios*.*
bin/vbios*.*
bin/multiboot*.*

# Executables
*.sym
*.elf

# IDE
.idea
.vs

# Objects
*.a
*.o

# Python
*.pyc

# Private
tools/private

# TBD.
CMakeSettings.json
externals
