body {
  background-color: #313234;
  margin: 0 auto;
  padding: 0;
  width: 800px;
  height: 100%;
  font-size: 16px;
  color: #DDD;
  box-sizing: border-box;
}

/* Links */
a:link    { color: #DDD; text-decoration: none; }
a:visited { color: #DDD; text-decoration: none; }
a:hover   { color: #DDD; text-decoration: none; }
a:active  { color: #DDD; text-decoration: none; }

#title {
  font-size: 48pt;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 50px;
}

#subtitle {
  font-size: 24pt;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 120px;
}

#info {
  font-size: 18pt;
  font-weight: 100;
  margin-bottom: 20px;
  text-align: center;
  animation: floating-text 1s ease-in-out alternate infinite;
}

@keyframes floating-text {
  0% {
    color: #AAA;
    text-shadow: 0px 0px 5px #AAA;
  }
  100% {
    color: #FFF;
    text-shadow: 0px 0px 8px #FFF;
  }
}

#progress {
  width: 800px;
  margin-bottom: 20px;
}

#logs {
  width: 800px;
  padding: 10px;
  background-color: #212223;
  border-radius: 10px;
  font-family: "Lucida Console", Monaco, monospace;
}

#logs-internal {
  height: 300px;
  overflow-y: scroll;
}
