body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #313234;
  margin: 0 auto;
  padding: 0;
  width: 800px;
  height: 100%;
  font-size: 16px;
  color: #DDD;
  box-sizing: border-box;
}

/* Links */
a:link    { color: #DDD; text-decoration: none; }
a:visited { color: #DDD; text-decoration: none; }
a:hover   { color: #DDD; text-decoration: none; }
a:active  { color: #DDD; text-decoration: none; }

/* Title */
#title {
  font-size: 32pt;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-top: 20px;
}

#subtitle {
  font-size: 16pt;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 20px;
}

/* Information */
table th {
  font-size: 16pt;
  text-align: left;
}
tr {
  height: 1px;
}
th {
  width: 33.33%;
}
td {
  width: 33.33%;
  height: inherit;
}
td .button {
  height: calc(100% - 50px);
  margin-left: 5px;
}

.button {
  padding: 10px;
  background-color: #555;
  border-radius: 10px;
  user-select: none;
}
.button:hover {
  background-color: #666;
  cursor: pointer;
}
.button:active {
  background-color: #444;
  cursor: pointer;
}
.button.active {
  background-color: #444;
}
.button.disabled {
  cursor: not-allowed;
  color: #888;
}
.button.disabled:hover {
  background-color: #555;
}

#action {
  font-size: 18pt;
  font-weight: 100;
  margin-bottom: 20px;
  text-align: center;
  animation: floating-text 1s ease-in-out alternate infinite;
}

@keyframes floating-text {
  0% {
    color: #AAA;
    text-shadow: 0px 0px 5px #AAA;
  }
  100% {
    color: #EEE;
    text-shadow: 0px 0px 8px #EEE;
  }
}

#progress {
  width: 800px;
  margin-bottom: 20px;
}

#logs {
  width: 780px;
  padding: 10px;
  background-color: #212223;
  border-radius: 10px;
  font-family: "Lucida Console", Monaco, monospace;
}

#logs-internal {
  height: 200px;
  overflow-y: scroll;
}
